RewriteEngine On

# Allow real files/folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Service details URL
#RewriteRule ^service-details/([^/]+)$ service-details.php?slug=$1 [L,QSA]
RewriteRule ^retirement-planning retirement-planning.php?slug=$1 [L,QSA]
RewriteRule ^investment-planning investment-planning.php?slug=$1 [L,QSA]
RewriteRule ^trading-glossary trading-glossary.php?slug=$1 [L,QSA]
RewriteRule ^blog blog.php?slug=$1 [L,QSA]
RewriteRule ^index index.php?slug=$1 [L,QSA]