RewriteEngine On

# Allow real files/folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Service details URL
#RewriteRule ^service-details/([^/]+)$ service-details.php?slug=$1 [L,QSA]

RewriteRule ^index index.php?slug=$1 [L,QSA]

#Our Service > Planning
RewriteRule ^retirement-planning retirement-planning.php?slug=$1 [L,QSA]
RewriteRule ^investment-planning investment-planning.php?slug=$1 [L,QSA]
RewriteRule ^nri-financial-advisory nri-financial-advisory.php?slug=$1 [L,QSA]
RewriteRule ^financial-planning-couples financial-planning-couples.php?slug=$1 [L,QSA]
RewriteRule ^financial-planning-women financial-planning-women.php?slug=$1 [L,QSA]
RewriteRule ^planning-for-men planning-for-men.php?slug=$1 [L,QSA]
RewriteRule ^wealth-management wealth-management.php?slug=$1 [L,QSA]
RewriteRule ^child-education child-education.php?slug=$1 [L,QSA]

#Our Service > Insurance & Investment
RewriteRule ^life-insurance life-insurance.php?slug=$1 [L,QSA]
RewriteRule ^health-insurance health-insurance.php?slug=$1 [L,QSA]
RewriteRule ^tax-efficient-investment tax-efficient-investment.php?slug=$1 [L,QSA]
RewriteRule ^vacation-planning vacation-planning.php?slug=$1 [L,QSA]
RewriteRule ^child-wedding-planning child-wedding-planning.php?slug=$1 [L,QSA]
RewriteRule ^real-estate-investment real-estate-investment.php?slug=$1 [L,QSA]
RewriteRule ^business-planning business-planning.php?slug=$1 [L,QSA]
RewriteRule ^asset-management asset-management.php?slug=$1 [L,QSA]

# > Insights
RewriteRule ^faqs faqs.php?slug=$1 [L,QSA]
RewriteRule ^blog blog.php?slug=$1 [L,QSA]
RewriteRule ^news news.php?slug=$1 [L,QSA]
RewriteRule ^market-update market-update.php?slug=$1 [L,QSA]
RewriteRule ^events-webinars events-webinars.php?slug=$1 [L,QSA]

# > Who We Are
RewriteRule ^our-history our-history.php?slug=$1 [L,QSA]
RewriteRule ^our-approach our-approach.php?slug=$1 [L,QSA]
RewriteRule ^leadership-team leadership-team.php?slug=$1 [L,QSA]
RewriteRule ^who-we-serve who-we-serve.php?slug=$1 [L,QSA]

#Resources
RewriteRule ^investment-calculator investment-calculator.php?slug=$1 [L,QSA]